@inherits LayoutComponentBase

<div class="bg-gray-100">
    <div class="md:flex bg-white">
        <div class="w-full md:w-1/4 flex justify-center">
            <img src="/img/fantasy-logo.png" alt="Logo" class="h-20 w-20" />
        </div>
        <nav class="w-full md:w-1/2 text-lg">
            <ul class="flex justify-evenly">
                <li class="flex items-end">
                    <NavLink class="font-semibold pt-5" href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="flex items-end">
                    <NavLink class="font-semibold pt-5" href="weeklist">
                        Reports
                    </NavLink>
                </li>
            </ul>
        </nav>
    </div>

    @Body
</div>