@*Based on https://github.com/mrpmorris/blazor-university/tree/master/src/TemplatedComponents/CreatingATabControl*@

<CascadingValue Value="this">
    <div class="flex font-semibold p-4 mb-4 max-w-2xl" role="group">
        @foreach (Tab tab in Tabs)
        {
            <button type="button"
                    class="mx-4 pb-2 font-semibold text-gray-500 dark:text-white @GetButtonClass(tab)"
                    @onclick=@( () => ActivatePage(tab) )>
                @tab.Title
            </button>
        }
    </div>
    @ChildContent
</CascadingValue>

@code {
    // Next line is needed so we are able to add <Tab> components inside
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public Tab ActivePage { get; set; }
    List<Tab> Tabs = new List<Tab>();

    internal void AddPage(Tab tabPage)
    {
        Tabs.Add(tabPage);
        if (Tabs.Count == 1)
            ActivePage = tabPage;
        StateHasChanged();
    }

    string GetButtonClass(Tab page)
    {
        return page == ActivePage ? "border-b-4 border-fantasy-green" : "";
    }

    void ActivatePage(Tab page)
    {
        ActivePage = page;
    }
}