@page "/seasonreport/{seasonId:int}"
@inject FantasyApiService MyApiService

<div class="flex justify-center">
    <h1 class="md:w-1/2 text-2xl font-semibold text-center bg-white rounded-lg shadow-md p-4 m-4 dark:bg-white-opacity-12">
        @if (SeasonId.HasValue)
        {
            <span>The @SeasonId Season Report</span>
        }
        else
        {
            <span>The Season Report</span>
        }
    </h1>
</div>

<ScheduleCompareTable SeasonId=@SeasonId></ScheduleCompareTable>


@code {

    [Parameter]
    public int? SeasonId { get; set; }
}