@page "/weeklist"
@inject FantasyApiService MyApiService

<div class="bg-white rounded-lg shadow-md p-4 mx-2 my-4 flex-grow max-w-screen-md dark:bg-white-opacity-12">
    <h1 class="text-xl font-semibold m-4">2021</h1>
    <ul class="ml-8">

        @for (int i = 1; i < CurrentWeek; i++)
        {
            <li class="p-2"><a href="/weeklyreport/2021/@i">Week @i</a></li>
        }
    </ul>
    @*<h1 class="text-xl font-semibold m-4">2020</h1>
    <ul class="ml-8">

        <li class="p-2"><a href="/seasonreport">2020 Season Report</a></li>

        @for (int i = 1; i < CurrentWeek; i++)
        {
            <li class="p-2"><a href="/weeklyreport/2020/@i">Week @i</a></li>
        }
    </ul>*@
</div>

@code {
    private int CurrentWeek { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        CurrentWeek = await MyApiService.GetCurrentWeek();

        StateHasChanged();
    }
}
